<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Metadata -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Wars Spaceship Control Panel</title>

  <!-- Bootstrap CSS and JS libraries -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

  <!-- Optimize the order of JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
  <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<!-- Audio Elements -->
<audio id="hyperdriveSound"></audio>
<audio id="emergencyStopSound"></audio>
<audio id="sliderSound"></audio>
<audio id="switchSound"></audio>

  <!-- Main Container -->
  <div class="container-fluid">
    {% include 'control_panel.html' %}

    {% include 'comms.html' %}

    {% include 'logs.html' %}
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</body>
</html>